body{
    margin:auto
}
/*Header Css*/
header{
    height:60px;
    /* border:2px  solid red; */
    background-color:#352929;
    color:rgb(252, 252, 252)
    
}

button{
    height:38px;
    width:100px;
    background-color:rgb(223, 142, 19);
    color:rgb(19, 15, 15);
    margin-top: 2%;
}


#login{
    background-color:rgb(187, 137, 0);
}

#register{
    background-color:rgb(187, 137, 0);
}

#icon{
    float:left;
    display:flex;
}

#icon > h1{
    margin:5%
}
#icon > button{
    margin: 5%
}
#social{
    float:right;
    margin-top: 12px;
    margin-right: 3%;
}

/*Search Section*/

.container{
    height: 850px;
    width: 90%;
    /*border: 2px solid blue;*/
    margin-left: 5%;
    margin-top: 7%;
    display: inline-block;

}

#filter{
    height:500px ;
    width: 20%;
    box-shadow: 1px 5px 10px black;
    float: left;
    color:#213b50;
}

#filter h1{
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid white;  
}

#filter h2{
    text-align: center;
    margin-bottom: 8px;
}

#filter input{
    margin-left: 12px;
    margin-top: 8px;
    cursor: pointer;
    margin-right: 7px;
}


#content{
    /*height: 700px;*/
    width: 75%;
    margin-left: 4% ;
    /*border: 2px solid red;*/
    float: left;
}

#item{
    margin-left: 2%;
    display: flex;
    box-shadow: 1px 5px 10px black;
    height: 260px;
    margin-bottom: 40px;
}

#item:hover{
    transform:scale() ;
}

.foodImage{
    margin-top: 1%;
    margin-left: 2%;
}

.foodImage img{
    border-radius: 15px;
    width: 400px;
    height: 230px;
}

.foodDescription{
    margin-left: 2%;
}

.foodDescription button{
    height: 30px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 2%;
}

#lunch{
    background-color: rgb(156, 105, 33);
    transition: background 0.2s ease-in-out;
}

#fast-food{
    background-color: rgb(56, 148, 179);
    transition: background 0.2s ease-in-out;
}


/*Footer Css*/
footer{
    /*height: 100px;*/
    /*border: 2px solid red;*/
    background-color:#352929;  
    margin-top: 3%;
    text-align: center;
    color: azure;
}

.about{
    height: 70px;
    width: 33%;
    display: inline-block;
    border-right: 2px solid azure;
}

.noBorder{
    border:none;
}

.socialIcon{
    height: 50px;
    width: 50px;
}